<% provide(:title, "About") %>
  <h1>About</h1>
  <h2>Building a sample, production quality rails application that is a social network. Will reinforce my knowledge of the MVC design paradigm while using RESTful resources.</h2>
  <p>
    The web application will have users, micro-posts, authentication, etc.
  </p>
