<% provide(:title, "About") %>
  <h1>About Us</h1>
  <h2>Building a sample, production quality rails application that is a social network. Will reinforce my knowledge of the MVC design paradigm while using RESTful resources.</h2>

  <h2>
    Founded in December of 2015 and based in New York City, NY, Social Share is a
    trusted community for people to share, discover, and follow
    awesome workouts from celebrities, athletes, and fitness enthusiasts around the world.
  </h2>
