<div class="center jumbotron">
  <h1>Welcome to Social Share</h1>
    <h2>
      This is the home page for Social Share. A groundbreaking new social network
    </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
