<h1>Analytics Page</h1>


<div class="row">
  <div class="col-xs-6">
    <h3>Visits By Day</h3>
    <%= pie_chart Micropost.group(:user_id).count %>
  </div>

  <div class="col-xs-6">
    <h3>Visits By Day</h3>
      <%= pie_chart({"Football" => 10, "Basketball" => 5}) %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Visits By Day</h3>
    <%= line_chart [
      {name: "Series A", data: 1000},
      {name: "Series B", data: 10000}
    ] %>
  </div>
</div>
