<% provide(:title, 'All users') %>
<h1>All users</h1>


<%= will_paginate %>

<ul class="users">
  <!--Rails infers that @users is a list of users and iterates/renders -->
  <%= render @users %>
</ul>

<%= will_paginate %>
